<div class="home-container">
    <img src="/img/logo.png" alt="FatecBook Logo" class="logo">
    <div class="home-header">
        <h2>Editar Publicação</h2>
        <a href="/posts" class="btn-small">Voltar</a>
    </div>
    <form action="/posts/{{post.id}}/edit" method="POST" class="post-form">
        <textarea name="content" required>{{post.content}}</textarea>
        <button type="submit" class="btn">Salvar</button>
        <a href="/posts" class="btn-small">Cancelar</a>
    </form>
</div>