<div class="container">
    <img src="img/logo.png" alt="FatecBook Logo" class="logo">
    <h1>Bem-vindo!</h1>
    <p>Compartilhe ideias e conecte-se com seus colegas da FATEC.</p>
    <a href="/login" class="btn">Login</a>
    <a href="/register" class="btn">Registrar-se</a>
</div>
