<div class="login-container">
    <div class="login-box">
        <img src="/img/logo.png" alt="FatecBook Logo" class="logo">
        <h2>Entrar</h2>

        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Usuário" required>
            <input type="password" name="senha" placeholder="Senha" required>
            <button type="submit" class="btn">Entrar</button>
        </form>

        <p class="signup-text">
            Não tem conta? <a href="/register">Cadastre-se</a>
        </p>
    </div>
</div>
