<div class="register-container">
    <img src="/img/logo.png" alt="FatecBook Logo" class="logo">
    <h2>Registro</h2>
    <form action="/register" method="POST">
        <input type="text" name="nome" placeholder="Nome" required>
        <input type="email" name="email" placeholder="E-mail" required>
        <input type="text" name="username" placeholder="Usuário" required>
        <input type="password" name="senha" placeholder="Senha" required>
        <button type="submit" class="btn">Registrar</button>
    </form>
    <p class="login-text">Já tem conta? <a href="/login">Login</a></p>
</div>
